body {
    max-width: 900px; 
    margin: auto; 
    background: white; 
    padding: 10px;
}
header {
    background-color: turquoise; 
    padding: 10px; 
    text-align: center; 
    font-size: 60px;
    color: white;
  font-family:Garamond;
}
#argument p {
    font-family:Playfair;
    font-size: 15px;
}

#argument h1 {
    font-family:Garamond;
}

#topnav {
  background-color: indianred;
  
  display: flex;
  justify-content: center;
position: sticky;
top: 0; 
}

#topnav a {
color: white;
display: block;
font-size: 20px;
padding: 0px 20px 0px 20px;
display: inline-block;
text-decoration: none;
}

#topnav a:hover {
background-color: white;
color: black;
}

#topnav .dropdown-content a {
  color:black; 
}

.dropdown:hover {
  background-color: white;
  color: black; 
}

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
display: block;
font-size: 20px;
padding: 0px 20px 0px 20px;
text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
 background-color: white;
 color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}


.dropdown:hover .dropdown-content {
  display: block; 
}


.footer {
    background-color: turquoise;
    position: relative;
    height: 10px;
    margin-top: 10px;
    clear: both;
  }

  #workscited p {
      font-family: playfair; 
      font-size: 15px;
      text-indent: hanging; 

  }
  
